<div class="jumbotron text-center">
    <h1>This is a Blog Application</h1>
    <p>Here you can post your blogs and read others blogs!!</p>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h3>Column 1</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, sint. Rerum magni rem ducimus nobis recusandae excepturi vitae pariatur culpa quas hic necessitatibus, molestias porro soluta tempora, ipsum possimus fugiat.</p>
      </div>
      <div class="col-sm-4 text-center">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam atque quis eaque, placeat, assumenda cum veniam beatae blanditiis laboriosam deleniti consequuntur incidunt id? Esse dolorem accusantium quos quae iste.</p>
      </div>
      <div class="col-sm-4 text-center">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda facere ratione soluta eaque unde veniam. Doloribus quasi sequi fuga iste deleniti omnis ipsum dolorem magni tempore animi odio, provident id.</p>
      </div>
    </div>
    
</div>
<hr/>
<br/>
<br/>
<div class="text-center d-flex justify-content-center">
    <a class="nav-link btn btn-outline-success" role="button" [routerLink]="['/blogs']" >Go To Blogs</a> 

</div>